<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modaltitle" class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p id="modalmessage">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModalValidate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modaltitleValidate" class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p id="modalmessageValidate">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" id="YesDelete" class="btn btn-warning" data-dismiss="modal">Yes, delete it</button>
            </div>
        </div>

    </div>
</div>

